<body>

<head>
  <link href="nuevo_posts.css.scss" rel="stylesheet">
</head>

<div class ="news">
	<h1>Nueva Publicacion!!</h1>
	 
	<%= render 'form' %>
	 
	<%= link_to 'Back', posts_path %>
</div>

<body> 